.react-precision-slider {
  text-align: left;
  border-bottom: 1px solid #efefef;
}
.react-precision-slider div:first-child {
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.rpc-reset {
  cursor: pointer;
  font-weight: bold;
}

.rpc-label {
}

.rpc-value {
  text-align: right;
}

.rpc-value-bar {
  width: 100%;
  height: 5px;
  margin-bottom: -4px;
  background: repeating-linear-gradient(
    to right,
    #aaa,
    #aaa 10px,
    #ccc 10px,
    #ccc 20px
  );
}

.rpc-precision-slider {
  font-size: 12px;
  line-height: 0;
  margin-left: -5px;
}

.rpc-main-slider {
  font-size: 16px;
  line-height: 0;
  margin-left: -8px;
}
