.uniform-control__slider {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}

.uniform-control__color {
  padding: 0em;
}
.uniform-control__color input {
  padding: 0;
  margin: 4px;
}

.uniform-control__checkbox {
  padding: 0.5em 0em;
}
.uniform-control__checkbox strong {
  padding-right: 1em;
}

.uniform-control {
  color: #ddd;
}
