.navbar {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;

  text-align: center;
  width: 120px;
  border-radius: 5px;
}

.navbar a {
  text-decoration: none;
}

.icon {
  margin-top: 25px;
  margin-bottom: 25px;
}
