.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sidebar {
  background-color: #222;
  color: white;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;

  text-align: center;
  width: 120px;
  border-radius: 5px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.icon {
  margin-top: 25px;
  margin-bottom: 25px;
}
